<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW2</title>
</head>

<body>
    <h1 style="color:#8b0000; text-align: center;">Blood Pressure Predictor</h1>
    <p style="color:#8b0000; text-align: center; font-size: 22px;">Fill out the form to get your Blood Pressure
        estimate!</p>
    <form id="form" action="/predict_bp" method="get" style="text-align: center;">
        <div>
            <label for="age" style="text-align: left;">Age</label>
            <label for="star1" style="color: red; text-align: left;">*</label>
            <input type="number" name="age" id="age" placeholder="Enter age in years" required>
        </div><br>
        <div>
            <label for="weight">Weight</label>
            <label for="star2" style="color: red;">*</label>
            <input type="number" name="weight" id="weight" placeholder="Enter weight in kg" required>
        </div><br>
        <div>
            <input type="submit" value="Calculate">
        </div>
    </form><br>
    <h4 style="text-align: center;">{{predict}}</h4>
</body>

</html>